{% load static %}
<!DOCTYPE html>
<html>

    <head>
	   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400"> 
        <!--Aqui criamos um link para o documento que contém os estilos da página-->
	<link rel="stylesheet" type="text/css" href="{% static 'Estilos/estilos.css' %}">
	<link rel="icon" type="image/x-icon" href="{% static 'Imagens/thumbnail_ABREALAS_LOGO.png' %}">
        <!--Com essa tag meta o navegador entende que os caracteres são do UTF-8 e os acentos n bugam-->
        <meta charset="UTF-8">
        <!--Aqui o site funciona direito em celular tbm-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Abre Alas</title>
    </head>




    <body>
        <div class="titulo">
		<a href="{% url 'index.html' %}">
			<img class="logo-resto" src="{% static 'Imagens/thumbnail_ABREALAS_LOGO.png' %}" alt="Logo do Abre Alas">
		</div>
		<h1 class="area-login">Faça seu Login</h1>

		{% block content %}
		  {% if form.errors %}
		    <p>Your username and password didn't match. Please try again.</p>
		  {% endif %}

		  {% if next %}
		    {% if user.is_authenticated %}
		      <p>Your account doesn't have access to this page. To proceed,
		      please login with an account that has access.</p>
		    {% else %}
		      <p>Please login to see this page.</p>
		    {% endif %}
		  {% endif %}

		<form action="{% url 'login' %}" method="post" id="formulario">
			{% csrf_token %}
			<p>{{ form.username.label_tag }}</p><br>
			<p>{{ form.username }}</p><br>
			<p>{{ form.password.label_tag }}</p><br>
			<p>{{ form.username.password }}</p><br>
			<input type="submit" value="login">
			<input type="hidden" name="next" value="{{ next }}">
		</form>

		{% endblock %}
	</div>

        <footer>
            www.abrealas.com.br
        </footer>
    </body>
</html>
